<div id="bb">

  <h1>nojs Listing a single race on GoodTunes</h1>
  <h2>Race <%= @race.id %></h2>

  <p id="notice"><%= notice %></p>

  <table border=1 cellpadding=10 cellspacing=0>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Target</th>
        <th>Songs so far...</th>
        <th>img1</th>
        <th>img2</th>
        <th>img3</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @race.name %></td>
        <td><%= @race.description %></td>
        <td><%= @race.date %></td>
        <td><%= @race.target %></td>
        <td>
          <% @race.playlist.songs.each do |song| %>
            <p><a href="<%= song.uri %>"><%= song.name %></a> by <%= song.artist %></p>
          <% end %>
        </td>
        <td>
          <%= @race.mainImage %><br />
          <img src="<%= @race.mainImage %>" width="100px" height="100px" />
        </td>
        <td>
          <%= @race.secondImage %><br />
          <img src="<%= @race.secondImage %>" width="100px" height="100px" />
        </td>
        <td>
          <%= @race.thirdImage %><br />
          <img src="<%= @race.thirdImage %>" width="100px" height="100px" />
        </td>
      </tr>
    </tbody>
  </table>


<% if @race.can_modify?(current_user) %>
  <%= link_to 'Edit', edit_race_path(@race) %> |
<% end %>


<% if current_user %>

  <!-- TODO: CHECK IF USER HAS A VALID DONATION..... -->
  <% if current_user.hasValidDonation %>
    <p>has valid donation(<%= @x %>), can pick a song:</p>
    <%= render 'songform' %>
  <% else %>
    <% if @validDonation == false %>
    <p>invalid donation code, sorry</p>
    <% end %>

    <p>cannot pick a song yet yet:</p>
    <ul>
      <li>prod: <a href="http://www.justgiving.com/Paul-Carvill/donate?amount=1&exitUrl=http://0.0.0.0:3000/justgiving/callback?donationId=JUSTGIVING-DONATION-ID">make a real donation via justgiving</a></li>
      <li>dev: <a href="/justgiving/callback?donationId=55555">click here to bypass donation</a></li>
      <li>justgiving sandbox: <a href="http://v3-sandbox.justgiving.com/Paul-Carvill/donate?amount=1&exitUrl=http://0.0.0.0:3000/justgiving/callback?donationId=JUSTGIVING-DONATION-ID">click here to test a justgiving donation (use payment deets below)</a></li>

      <p>Master Card</p>
      <p>5105105105105100</p>
      <p>Any valid looking expiry date / start date / CV2 code</p>
      <p>Enter 12345 to pass the card verification step</p>

    </ul>
  <% end %>

<% else %>
  <p><b><%= link_to "Sign in with Facebook to add a song", "/auth/facebook?redirect_uri=/races/#{@race.id}", id: "sign_in" %></b></p>
<% end %>

</div>