<div id="bb">

	<h1>nojs Listing single runner on GoodTunes</h1>
	<h2>User <%= @user.id %></h2>
	<p id="notice"><%= notice %></p>

	<table border=1 cellpadding=10 cellspacing=0>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Races</th>
	    </tr>
	  </thead>

	  <tbody>
	      <tr>
	      	<td><%= @user.name %></td>
	      	<td>
	      		<% @user.races.each do |race| %>
	      		<p><%= link_to race.name, race_path(race) %></p>
				<% end %>
			</td>
	      </tr>
	  </tbody>
	</table>


<% if @user == current_user %>
this is you
	<% if @user.isRunner? %>
		you are a runner
		<% if @user.races.length < 1 %>
			<p>No races added yet. <%= link_to 'add one now?', new_race_path %></p>
		<% else %>
			<p>you have <%= @user.races.length %> race. <%= link_to 'add another?', new_race_path %></p>
		<% end %>
	<% end %>
<% end %>

</div>