<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>Date:</b>
  <%= date %>
</p>

<p>
  <b>Target:</b>
  <%= target %>
</p>

<p>
  <b>Songs:</b>
  <%= playlist.songs %>
</p>

<p>
  <b>Mainimage:</b>
  <%= mainImage_file_name %>
</p>

<p>
  <b>Secondimage:</b>
  <%= secondImage_file_name %>
</p>

<p>
  <b>Thirdimage:</b>
  <%= thirdImage_file_name %>
</p>

<a href="#/races/index">All races</a>
<a href="#/runners/index">All runners</a>