<!DOCTYPE html>
<html>
<head>
  <title>GoodTunes</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript">
  $(function() {
    window.router = new GoodTunes.Routers.AppRouter({races: <%= @racesjson.to_json.html_safe -%>, users: <%= @usersjson.to_json.html_safe -%>});

    window.login = new GoodTunes.Views.Logins.LoginView( { 'el' : $('#log') } )

    Backbone.history.start( { pushState : true } );
  });
</script>

<ul id="log" style="border-top: 5px dotted #aaa; padding-top: 20px; margin-top: 50px">
  <li><%= link_to 'races', races_path %> (go to a race page to donate + choose a song e.g. <a href="/races/1">race 1</a>)</li>
  <li><%= link_to 'runners', users_path %></li>
  <% if current_user %>
  	<li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
  <% else %>
  	<li><%= link_to "Sign in with Facebook as a RUNNER", "/auth/facebook?runner=true", id: "sign_in" %></li>
	<li><%= link_to "Sign in with Facebook to donate", "/auth/facebook", id: "sign_in" %></li>
  <% end %>
</ul>

</body>
</html>
